src/conf/xml-resources/web-service-references/CardWebServices/wsdl/localhost_8080/MyWebServices/CardWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="CardWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/MyWebServices/CardWebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllCard">
<part name="parameters" element="tns:getAllCard"/>
</message>
<message name="getAllCardResponse">
<part name="parameters" element="tns:getAllCardResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getEmpCardByEmpID">
<part name="parameters" element="tns:getEmpCardByEmpID"/>
</message>
<message name="getEmpCardByEmpIDResponse">
<part name="parameters" element="tns:getEmpCardByEmpIDResponse"/>
</message>
<portType name="CardWebServices">
<operation name="getAllCard">
<input wsam:Action="http://WebServices/CardWebServices/getAllCardRequest" message="tns:getAllCard"/>
<output wsam:Action="http://WebServices/CardWebServices/getAllCardResponse" message="tns:getAllCardResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/CardWebServices/getAllCard/Fault/Exception"/>
</operation>
<operation name="getEmpCardByEmpID">
<input wsam:Action="http://WebServices/CardWebServices/getEmpCardByEmpIDRequest" message="tns:getEmpCardByEmpID"/>
<output wsam:Action="http://WebServices/CardWebServices/getEmpCardByEmpIDResponse" message="tns:getEmpCardByEmpIDResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/CardWebServices/getEmpCardByEmpID/Fault/Exception"/>
</operation>
</portType>
<binding name="CardWebServicesPortBinding" type="tns:CardWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getEmpCardByEmpID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="CardWebServices">
<port name="CardWebServicesPort" binding="tns:CardWebServicesPortBinding">
<soap:address location="http://localhost:8080/MyWebServices/CardWebServices"/>
</port>
</service>
</definitions>