src/conf/xml-resources/web-service-references/EmployeeWSService/wsdl/localhost_8080/ISWebServices/EmployeeWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.ws.is/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.ws.is/" name="EmployeeWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.ws.is/" schemaLocation="http://localhost:8080/ISWebServices/EmployeeWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmployeeName">
<part name="parameters" element="tns:getEmployeeName"/>
</message>
<message name="getEmployeeNameResponse">
<part name="parameters" element="tns:getEmployeeNameResponse"/>
</message>
<message name="getEmployeeData">
<part name="parameters" element="tns:getEmployeeData"/>
</message>
<message name="getEmployeeDataResponse">
<part name="parameters" element="tns:getEmployeeDataResponse"/>
</message>
<message name="getDeptByDeptID">
<part name="parameters" element="tns:getDeptByDeptID"/>
</message>
<message name="getDeptByDeptIDResponse">
<part name="parameters" element="tns:getDeptByDeptIDResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getDepartmentByDeptID">
<part name="parameters" element="tns:getDepartmentByDeptID"/>
</message>
<message name="getDepartmentByDeptIDResponse">
<part name="parameters" element="tns:getDepartmentByDeptIDResponse"/>
</message>
<portType name="EmployeeWS">
<operation name="getEmployeeName">
<input wsam:Action="http://webservices.ws.is/EmployeeWS/getEmployeeNameRequest" message="tns:getEmployeeName"/>
<output wsam:Action="http://webservices.ws.is/EmployeeWS/getEmployeeNameResponse" message="tns:getEmployeeNameResponse"/>
</operation>
<operation name="getEmployeeData">
<input wsam:Action="http://webservices.ws.is/EmployeeWS/getEmployeeDataRequest" message="tns:getEmployeeData"/>
<output wsam:Action="http://webservices.ws.is/EmployeeWS/getEmployeeDataResponse" message="tns:getEmployeeDataResponse"/>
</operation>
<operation name="getDeptByDeptID">
<input wsam:Action="http://webservices.ws.is/EmployeeWS/getDeptByDeptIDRequest" message="tns:getDeptByDeptID"/>
<output wsam:Action="http://webservices.ws.is/EmployeeWS/getDeptByDeptIDResponse" message="tns:getDeptByDeptIDResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.ws.is/EmployeeWS/getDeptByDeptID/Fault/Exception"/>
</operation>
<operation name="getDepartmentByDeptID">
<input wsam:Action="http://webservices.ws.is/EmployeeWS/getDepartmentByDeptIDRequest" message="tns:getDepartmentByDeptID"/>
<output wsam:Action="http://webservices.ws.is/EmployeeWS/getDepartmentByDeptIDResponse" message="tns:getDepartmentByDeptIDResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.ws.is/EmployeeWS/getDepartmentByDeptID/Fault/Exception"/>
</operation>
</portType>
<binding name="EmployeeWSPortBinding" type="tns:EmployeeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmployeeName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeptByDeptID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getDepartmentByDeptID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="EmployeeWSService">
<port name="EmployeeWSPort" binding="tns:EmployeeWSPortBinding">
<soap:address location="http://localhost:8080/ISWebServices/EmployeeWSService"/>
</port>
</service>
</definitions>