src/conf/xml-resources/web-service-references/DepartmentWebServices/wsdl/localhost_8080/MyWebServices/DepartmentWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="DepartmentWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/MyWebServices/DepartmentWebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllDepartment">
<part name="parameters" element="tns:getAllDepartment"/>
</message>
<message name="getAllDepartmentResponse">
<part name="parameters" element="tns:getAllDepartmentResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getDepartmentByDeptCode">
<part name="parameters" element="tns:getDepartmentByDeptCode"/>
</message>
<message name="getDepartmentByDeptCodeResponse">
<part name="parameters" element="tns:getDepartmentByDeptCodeResponse"/>
</message>
<portType name="DepartmentWebServices">
<operation name="getAllDepartment">
<input wsam:Action="http://WebServices/DepartmentWebServices/getAllDepartmentRequest" message="tns:getAllDepartment"/>
<output wsam:Action="http://WebServices/DepartmentWebServices/getAllDepartmentResponse" message="tns:getAllDepartmentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/DepartmentWebServices/getAllDepartment/Fault/Exception"/>
</operation>
<operation name="getDepartmentByDeptCode">
<input wsam:Action="http://WebServices/DepartmentWebServices/getDepartmentByDeptCodeRequest" message="tns:getDepartmentByDeptCode"/>
<output wsam:Action="http://WebServices/DepartmentWebServices/getDepartmentByDeptCodeResponse" message="tns:getDepartmentByDeptCodeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/DepartmentWebServices/getDepartmentByDeptCode/Fault/Exception"/>
</operation>
</portType>
<binding name="DepartmentWebServicesPortBinding" type="tns:DepartmentWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getDepartmentByDeptCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="DepartmentWebServices">
<port name="DepartmentWebServicesPort" binding="tns:DepartmentWebServicesPortBinding">
<soap:address location="http://localhost:8080/MyWebServices/DepartmentWebServices"/>
</port>
</service>
</definitions>