src/conf/xml-resources/web-service-references/DepartmentWebServices/wsdl/localhost_8080/MyWebServices/DepartmentWebServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="getAllDepartment" type="tns:getAllDepartment"/>

<xs:element name="getAllDepartmentResponse" type="tns:getAllDepartmentResponse"/>

<xs:element name="getDepartmentByDeptCode" type="tns:getDepartmentByDeptCode"/>

<xs:element name="getDepartmentByDeptCodeResponse" type="tns:getDepartmentByDeptCodeResponse"/>

<xs:complexType name="getAllDepartment">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllDepartmentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDepartmentByDeptCode">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDepartmentByDeptCodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>